<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloBean" class="helloWorld" scope="singleton">
        <property name="name" value="PersonalSpringTest"></property>
    </bean>
    <!--a bean init with lazy init -->
    <!--<bean id="helloBean" class="helloWorld" lazy-init="true">
        <property name="name" value="PersonalSpringTest"></property>
    </bean>-->

</beans>